.dayCube {
	background-color: antiquewhite;
    width: 200px;
    height: 200px;
    display: inline-flex;
    border: solid 1px;
}
.daysContainer {
	background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
