.dayCube {
	background-color: antiquewhite;
	display: grid;
	border: solid 1px;
	border-radius: 0.2rem;
	justify-items: center;
	align-items: center;
	align-content: center;
}
.dayCube__div__p {
	margin: 0;
}
.formInputDay {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.timeInput {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	justify-items: center;
}
.checkboxes {
	grid-template-columns: 1fr 4fr;
	display: grid;
	align-items: center;
	justify-items: center;
}
.daysContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 5px;
}
