* {
  margin: 0;
  padding: 0;
}

.MonthContent {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.WeekIllHol {
  display: flex;
  width: 100vw;
}
.WeekIllHol div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.TibleWeekInput {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.TibleWeekInput div {
  display: inline-flex;
}
.TibleWeekInput .days {
  justify-content: space-between;
  width: 100vw;
}

.buttonstend {
  width: 100vw;
}